.StyledContactForm {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 0;
    width: 700px;
    font-size: 17px;

}



input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
}

input:focus {
    border: 2px solid darkblue;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    margin-top: 10px;
}

textarea:focus {
    border: 2px solid darkblue;
}

label {

    color: white;
}

input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: darkblue;
    color: white;
    border: none;
    /*margin-bottom: 20px;*/
    font-size: 17px;
}



/* Media Queries */

/*Extra extra small devices (older Phones)*/
@media screen and (max-width: 410px) {
    .StyledContactForm {

        width: 300px;


    }
}

/* Extra small devices (Phones) */
@media screen and (min-width: 411px) and (max-width: 576px) {
    .StyledContactForm {

        width: 311px;

    }
}

/* Small devices (Tablets) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .StyledContactForm {

        width: 477px;

    }
}
/* Medium devices (Desktops) */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .StyledContactForm {

        width: 569px;

    }
}

/* Large devices (Desktops) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .StyledContactForm {

        width: 793px;

    }
}

/* Extra large devices (Desktops) */
@media screen and (min-width: 1201px) {
    .StyledContactForm {

        width: 800px;

    }
}