/*.body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background: orangered;*/
/*}*/

/*.glow-on-hover {*/
/*    width: 220px;*/
/*    height: 50px;*/
/*    border: none;*/
/*    outline: none;*/
/*    color: #fff;*/
/*    background: #111;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    z-index: 0;*/
/*    border-radius: 10px;*/
/*    margin-right: 30px;*/
/*    box-shadow: 0 0 0 1px darkblue;*/

/*}*/

/*.glow-on-hover:before {*/
/*    content: '';*/
/*    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);*/
/*    position: absolute;*/
/*    top: -2px;*/
/*    left:-2px;*/
/*    background-size: 400%;*/
/*    z-index: -1;*/
/*    filter: blur(5px);*/
/*    width: calc(100% + 4px);*/
/*    height: calc(100% + 4px);*/
/*    animation: glowing 15s linear infinite;*/
/*    opacity: 0;*/
/*    transition: opacity .3s ease-in-out;*/
/*    border-radius: 10px;*/
/*}*/

/*.glow-on-hover:active {*/
/*    color: #000*/
/*}*/

/*.glow-on-hover:active:after {*/
/*    background: transparent;*/
/*}*/

/*.glow-on-hover:hover:before {*/
/*    opacity: 1;*/
/*}*/

/*.glow-on-hover:after {*/
/*    z-index: -1;*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #111;*/
/*    left: 0;*/
/*    top: 0;*/
/*    border-radius: 10px;*/
/*}*/

/*@keyframes glowing {*/
/*    0% { background-position: 0 0; }*/
/*    50% { background-position: 500% 0; }*/
/*    100% { background-position: 0 0; }*/
/*}*/


/* Media Queries */

/* Extra extra small devices (older Phones) */
@media screen and (max-width: 410px) {
    .glow-on-hover {
        width: 200px;
        margin-right: 10px;
        font-size: 12px;
    }
    .body {
        flex-direction: column;
    }
}

/* Extra small devices (Phones) */
@media screen and (min-width: 411px) and (max-width: 576px) {
    .glow-on-hover {
        width: 220px;
        margin-right: 15px;
        font-size: 14px;
    }
    .body {
        flex-direction: column;
    }
}

/* Small devices (Tablets) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .glow-on-hover {
        width: 240px;
        margin-right: 20px;
        font-size: 16px;
    }
}

/* Medium devices (Desktops) */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .glow-on-hover {
        width: 260px;
        margin-right: 25px;
        font-size: 18px;
    }
}

/* Large devices (Desktops) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .glow-on-hover {
        width: 280px;
        margin-right: 30px;
        font-size: 20px;
    }
}

/* Extra large devices (Desktops) */
@media screen and (min-width: 1201px) {
    .glow-on-hover {
        width: 300px;
        margin-right: 35px;
        font-size: 22px;
    }
}

.body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: orangered;
}

.glow-on-hover {
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 1px darkblue;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 15s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 500% 0; }
    100% { background-position: 0 0; }
}