

.container {
    overflow:hidden;
    font-family: 'Raleway', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    padding: 0 3rem;
}



h1 {
    font-weight: 200;
    margin: 0.4rem;
    font-size:5px;
}



/* Cursor */
.txt-type > .txt {
    border-right: 0.2rem solid white;
}

/* Media Queries */

/* Extra extra small devices (older Phones) */
@media screen and (max-width: 410px) {
    h1 {
        font-size: 15px;
    }

}

/* Extra small devices (Phones) */
@media screen and (min-width: 411px) and (max-width: 576px) {
    h1 {
        font-size: 17px;
    }

}

/* Small devices (Tablets) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    h1 {
        font-size: 19px;
    }

}

/* Medium devices (Desktops) */
@media screen and (min-width: 769px) and (max-width: 992px) {
    h1 {
        font-size: 20px;
    }
}

/* Large devices (Desktops) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    h1 {
        font-size: 25px;
    }

}

/* Extra large devices (Desktops) */
@media screen and (min-width: 1201px) {
    h1 {
        font-size: 30px;
    }

}