

.row {
    display: flex;
    flex-direction: column;
}

.flex1 {
    flex: 1;
    background-color: black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex2 {
    margin-top: 30px;
    flex: 1;
    background-color: black;
    /*margin: 10px;*/
    /*padding: 10px;*/
    /*border-radius: 5px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

}
.flex3 {
    margin-top: 150px;
    flex: 1;
    background-color: black;
    padding: 10px;
    border-radius: 5px;

}
.flex4 {
    margin-top: 30px;
    flex: 1;
    background-color: black;
    /*margin: 10px;*/
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}