body {
    margin: 0;
    padding: 0;
}
.container {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.row {
    display: flex;
    flex-direction: column;

}

.flex1 {
    flex: 1;
    background-color: black;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex2 {
    margin-top: 80px;
    flex: 1;
    background-color: black;
    /*margin: 10px;*/
    /*padding: 10px;*/
    /*border-radius: 5px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

}
.flex3 {
    margin-top: 100px;
    flex: 1;
    background-color: black;
    /*padding: 10px;*/
    /*border-radius: 5px;*/

}
.flex4 {
    margin-top: 60px;
    flex: 1;
    background-color: black;
    /*margin: 10px;*/
    /*padding: 10px;*/
    /*border-radius: 5px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}