.container {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: grid;
  flex-wrap: wrap;

}

.grid1 {

    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.grid2 {
    display: flex;


}
.grid3 {
    display: flex;


}