@import "../generic/_variables.scss";

.body {
    margin: 0;
    padding: 0;
}
/*.container {*/
/*    background-color: black;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*}*/

.row {
    display: flex;
    flex-direction: column;

}

.flex1 {
    flex: 1;
    /*background-color: black;*/
    margin-top: 60px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex2 {
    margin-top: 80px;
    flex: 1;
    background-color: black;

}
.flex3 {
    margin-top: 50px;
    flex: 1;
    background-color: black;



}
.flex3a {
    margin-top: 50px;
    flex: 1;
    background-color: black;



}
.flex4 {
    margin-top: 0px;
    flex: 1;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}