//contact
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
$font-family-source-code-pro: 'Source Code Pro', monospace;
$primary-color: darkblue;
$white-color: #ffffff;
$black-color: #000000;





